
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pyinjs</title>
    <style>
      p { color:  orangered;
          margin-top: 0;
          margin-left: 50px;
          font-size: 20pt;
      }
    </style>
</head>
<body bgcolor=#C8F2EC>
    <h1>Hi there</h1>
    <p><b>Lorem</b></p>
    <p>Add a new topic:</p>
    <form action="{% url 'pyinjs:post_list' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">add topic</button>
    </form>
    <h1>{{ text }}</h1>
</body>
</html>